
body{
    background: #2e2e2e;
    margin: 0%;
    padding: 0;
}


.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.outer{
    background: linear-gradient(90deg, black 50%, #f0f8ff 50%);
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%,-50%);
    animation: move 5s linear infinite;
}


.yin-yang,.yin-yang2{
    position: relative;
    top: 75px;
    left: 50%;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 50%, #f0f8ff 50%);
    border: 50px solid ;
    border-color: black #f0f8ff #f0f8ff black;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    animation: move 5s linear infinite;
}


.yin-yang::after{
    content: '';
    position: absolute;
    top: 55px;
    left: 3px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    z-index: 1;
    background-color: black;
    border: 20px solid aliceblue;
    animation: move 5s linear infinite;
}


.yin-yang::before{
    content: '';
    position: absolute;
    top: -10%;
    left: 96%;
    z-index: 1;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    border: 20px solid #000000;
    animation: move 5s linear infinite;
}


.yin-yang2{
    border: 50px solid ;
    background: linear-gradient(90deg, rgb(0, 0, 0) 50%, #f0f8ff 50%);
    animation: move 5s linear infinite;
    border-color: black #f0f8ff #f0f8ff black;
}


.yin-yang2::after{
    content: '';
    position: absolute;
    top: 55px;
    left: 3px;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    z-index: 1;
    background-color: black;
    border: 20px solid #f0f8ff;
    animation: move 5s linear infinite;
}


.yin-yang2::before{
    content: '';
    position: absolute;
    top: -7%;
    left: 100%;
    z-index: 1;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    border: 20px solid rgb(0, 0, 0);
    animation: move 5s linear infinite;
}


@keyframes move {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }    
}







/* 

100 = 50 50
50

*/



/* .yin-yang::after,.yin-yang2::after,.yin-yang::before,.yin-yang2::before{
    content: '';
    border-radius: 50%;
    background-color: aqua;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    border: 20px solid white;
    left: 50%;
}

.yin-yang2::after,.yin-yang2::before{
    background-color: blue;
    border: 20px solid black;
}


.yin-yang::after{
    background-color: aqua;
}
.yin-yang::before{
    background-color: bisque;
}
.yin-yang2::after{
    background-color: blueviolet;
}

.yin-yang2::before{
    background-color: brown;
} */

